<div class="container">
  <div class="header">
    <p class="title">Meeting Room</p>
    <div class="operation-box">
       <input type="text" placeholder="Search" (input) = "enableSuggestion()" [(ngModel)]="inpString" >
       <div class="suggestion-box" *ngIf="showSuggestion">
         <ng-container *ngFor="let emp of schedule">
           <p class="list" *ngIf="emp.employeeName.toLowerCase().indexOf(inpString) !== -1" (click)="onSelect(emp.employeeName)">{{emp.employeeName}}</p>
         </ng-container>
       </div>
        <img class="refresh" src="assets/refresh.png" alt="refresh" (click)="reset()">
        <img class="sort" src="assets/sort.png" alt="sort" (click)="sortByName()">
   </div>
  </div>
  <div class="maindiv">
    <div class="left">
      <div class="title">
        Employees
      </div>
        <ng-container class="list" *ngFor="let employee of schedule">
          <div *ngIf="employee.employeeName === selectedName || !selectedName" class="employee">
            <span> {{employee.employeeName}}  ({{employee.employeeId}})</span>
          </div>
        </ng-container>
    </div>
    <div class="right">
      <app-calender [currWeek] = "currWeek"></app-calender>
      <ng-container class="list" *ngFor="let employee of schedule">
        <div *ngIf="employee.employeeName === selectedName || !selectedName" class="row">
          <ng-container *ngFor="let days of currWeek">
            <div class="box" >
              <div [class]="employee.listOfDays.includes(days.today)?'mt':''" *ngIf="employee.listOfDays.includes(days.today)">
                <div class="" *ngFor="let meet of employee.meetings">
                  <div class="meet" *ngIf="meet.startTime.split(',')[0] == days.today">
                    <p class="date" >{{meet.meetingName}}</p>
                    <p class="day" >{{meet.startTime.split(',')[1].slice(0,6)}} - {{meet.endTime.split(',')[1].slice(0,6)}}</p>
                  </div>
                </div>
              </div>
          </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>